<html>
<head>
	<meta charset="ISO-8859-1"/>
	<title>Teste</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js" type="text/javascript"></script>

<script type="text/javascript">
	var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
	$scope.enviar = function(){
		$http.get("https://webmaniabr.com/api/1/cep/"+$scope.cep+"/?app_key=ahaKUOeSH5VNwEou2v98dP2mPwzUEGw5&app_secret=kmO9e0tuSJxIIHsGcsydlXNXM3B7nGbkFEUONtd0p5ykDJau")
		    .then(function(response) {
		        $scope.endereco = response.data;
		    });
	};    
});

</script>

</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<div class="container">
		<input ng-model="cep" class="form-control" style="width:30%" placeholder="CEP (somente numeros)"/>
		<button ng-click="enviar()" >Enviar</button>
	</div>

	{{endereco}}
</body>
</html>